.slide_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 20px;
}

.slide_box {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.slide_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: larger;
  background-color: orange;
}

.slide_list {
  width: 900px;
  display: flex;
  height: 100px;
}

.button_container {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.indicator_container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: lightgray;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: gray;
}
